/* Demo CSS */

html, body {
    margin: 0;
    padding: 0;
}

body {
	background-image:url('../../public/img/grass3.jpg');
    font-size: 15px;
}


table {
    font-size: 13px;
}
.template {
    margin:10px;
	padding:20px;
}
.container {
	border-radius: 5px;
    margin: 10px;
	background:#FFF;
	padding:20px;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
}

.where-are-we-box {
    position: relative;
    left: -20px;
    top: -20px;
    background-color: #bbb;
    padding: 10px 15px;
    display: inline-block;
}

.bold {
    font-weight: bold;
}


/*PROFIL*/

#personenDaten{
    width: 75%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

#profilBild{
    margin-bottom: 25px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

#bild img{
    display: inline-block;
    width: 250px;
    height: auto;
    max-height: 400px;
}

#profilHeadline{
    margin-bottom: 20px;
}

#profilDaten{
    margin-bottom: 25px;
}

#trainingsDaten{
}

.profilContent{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

/*NAVIGATION / MENU*/


.navigation ul li {
    display: inline-block;
    text-decoration: none;
}

nav {
    width: 100%;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

nav li{
}

nav li:hover {
	background: #444;
}

    nav ul,nav ul li{
    background-color: #FAFAFA;
}

    nav ul li {
    list-style: none;
    float:left;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #333;
    padding: 14px 34px 14px 34px;
}

nav ul li:hover > ul {
    visibility: visible;
}

nav ul li ul{
    display: inline;
    visibility: hidden;
    position: absolute;
    padding:0px;
}

nav ul li ul li{
    float: none;
}

nav ul li ul li a:hover{
    color: #333;
}

/*FOOTER*/

#footer ul{
    text-align: center;
    margin: 0;
}

#footer ul li{
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color: #333;
}