/*Allgemein*/

html, body {
    margin: 0;
    padding: 0;
}

body {
	background-image:url('../../public/img/grass3.jpg');
    font-size: 15px;
}

table {
    font-size: 13px;
}

.bold {
    font-weight: bold;
}

.btn-left{
    float: left;
}

.btn-right{
    float: right;
}
/*Bootstrap Overwrite*/

.glyphicon{
    cursor: pointer !important;
}

/*Header*/

#header{
    background: none;
    box-shadow: none;
    padding: 0;
    margin-top: 20px;
}

#profilbild_header{
    margin-left: 10px;
    height: 40px;
    border-radius: 50%;
}

.navbar-nav > li > a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 55px !important;
}

.container {
	background:#FFF;
	padding:20px;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
}

.where-are-we-box {
    position: relative;
    left: -20px;
    top: -20px;
    background-color: #bbb;
    padding: 10px 15px;
    display: inline-block;
}

#headline{
    border-radius: 5px 5px 0px 0px;
    background: #F8F8F8;
    color:#777;
	padding: 15px 15px 10px 15px;
}
.headline-title {
   	display: inline-block;
}
.headline-title h1{
	margin:0px;
}
.headline-title img{
	padding:0px;
	margin:0px;
	height: 79px;
}

/*HOME*/
#spartenText{
    float: left;
    margin-top: -20px;
    color: #777;
    margin-bottom: 15px;
}

#lbl_chkbox_eigeneTrainings{
    font-weight: 300;
    cursor: pointer !important;
}

#spartenButton{
    float: right;
    margin-top: 30px;
}

#calendar{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}

/*Fullcalender Overwrite*/
.fc-event{
    cursor: pointer !important;
}

/*VERWALTUNG*/

/*Tabs über dem Collapse*/
#tabcontent{
	margin-top: 20px;
}
/*Collapse*/
.collapse_title, .collapse_title:hover{
	display: inline-block;
	width:50%;

	text-decoration: none;
}
.panel-heading:hover{
	background-color: #dcdcdc !important;

}
.panel-heading:hover div{
	opacity: 0.5;
}
.collapse_chevron{
	opacity: 0;
	display: inline-block;
	width:50%;
	text-align:right;
	color: inherit;

}
/*Personen-Modal*/
.personenfooter{
	padding: 19px 20px 20px;
	margin-top: 15px;
	border-top: 1px solid #e5e5e5;
}
.personenfooter .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.personenfooter .btn-group .btn + .btn {
  margin-left: -1px;
}
.personenfooter .btn-block + .btn-block {
  margin-left: 0;
}
.pwresbtn{
	display: inline-block;
	width:50%;
}
.footerbtn{
	display: inline-block;
	width:50%;
	text-align:right;

}
.emptycell{
	border-top: none !important;
}
.firstrow{
	border-top: 2px solid #DDD !important;
	border-collapse: seperate !important;
}

#checkboxSelect{
	/*height: 81px;*/
	height: 180px;
	overflow: auto;
	/*border: 1px solid #e5e5e5;*/
	list-style-type: none;
	padding: 6px 12px;
	margin: 0px;
}
#checkboxSelect .checkbox{
	padding: 0px 0px 0px 20px;
	min-height: 0px;
}
/*Termin*/
.termin{
	text-align:left;
	width: 70%;
	vertical-align: middle !important;
}
.termin h4{
	display: inline;
	padding: 0px 10px;
}
.termin h5{
	display: inline;
	padding: 0px 10px;
}
.termin-details{

}
/*PROFIL*/

.profilContent{
    margin-right: auto;
    margin-left: auto;
}

#personenDaten{
    width: 75%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

#profilBild{
    margin-bottom: 25px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

#profilBild img{
    display: inline-block;
    width: 250px;
    height: auto;
    max-height: 400px;
}

#profilFileDialog{
    display: inline-block;
}

#profilDaten{
    margin-right: 5%;
    width: 60%;
    float: left;
}

#trainingsDaten{
    width: 35%;
    float: clear;
    overflow: hidden;
}

#profilDatenWrapper{
    overflow: hidden;
}

#profilPasswordContent{
    width: 60%;
    float: left;
}

/*NAVIGATION / MENU*/

#navigation{
    border-radius: 5px;
}

/*FOOTER*/

#footer{
    margin-top: 0;
    border-radius: 0px 0px 5px 5px;
    background: #F8F8F8;
    margin-bottom: 20px;
}

#footer ul{
    text-align: center;
    margin: 0;
}

#footer ul li{
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color: #777;
}

/*IMPRESSUM*/

#impressum{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#table_impressum{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}