/* Demo CSS */

html, body {
    margin: 0;
    padding: 0;
}

body {
	background-image:url('../../public/img/grass3.jpg');
    font-size: 15px;
}


table {
    font-size: 13px;
}

#header{
    background: none;
    box-shadow: none;
    padding: 0;
    margin-top: 20px;
}

#profilbild_header{
    margin-left: 10px;
    height: 40px;
    border-radius: 50%;
}

.navbar-nav > li > a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 55px !important;
}

.container {
	background:#FFF;
	padding:20px;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
}

.where-are-we-box {
    position: relative;
    left: -20px;
    top: -20px;
    background-color: #bbb;
    padding: 10px 15px;
    display: inline-block;
}

.bold {
    font-weight: bold;
}

#headline{
    border-radius: 5px 5px 0px 0px;
    background: #F8F8F8;
    color:#777;
	padding: 15px 15px 10px 15px;
}
.headline-title {
   	display: inline-block; 
}
.headline-title h1{
	margin:0px;
}
.headline-title img{
	padding:0px;
	margin:0px;
	height: 79px;
}
/*VERWALTUNG*/

/*Tabs über dem Collapse*/
#tabcontent{
	margin-top: 20px;
}
/*Collapse*/
.collapse_title, .collapse_title:hover{
	display: inline-block;
	width:50%;

	text-decoration: none;
}
.panel-heading:hover{
	background-color: #dcdcdc !important;

}
.panel-heading:hover div{
	opacity: 0.5;
}
.collapse_chevron{
	opacity: 0;
	display: inline-block;
	width:50%;
	text-align:right;
	color: inherit;

}
<<<<<<< HEAD
=======
.collapse_chevron:hover{


}
>>>>>>> origin/master
/*Personen-Modal*/
.personenfooter{
	padding: 19px 20px 20px;
	margin-top: 15px;
	border-top: 1px solid #e5e5e5;
}
.personenfooter .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.personenfooter .btn-group .btn + .btn {
  margin-left: -1px;
}
.personenfooter .btn-block + .btn-block {
  margin-left: 0;
}
.pwresbtn{
	display: inline-block;
	width:50%;
}
.footerbtn{
	display: inline-block;
	width:50%;
	text-align:right;

}

/*HOME*/
#calendar{
    width: 70%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


/*PROFIL*/

.profilContent{
    margin-right: auto;
    margin-left: auto;
}

#personenDaten{
    width: 75%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

#profilBild{
    margin-bottom: 25px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

#bild img{
    display: inline-block;
    width: 250px;
    height: auto;
    max-height: 400px;
}

#profilDaten{
    margin-right: 5%;
    width: 60%;
    float: left;
}

#trainingsDaten{
    width: 35%;
    float: clear;
    overflow: hidden;
}

#profilDatenWrapper{
    overflow: hidden;
}

#profilPasswordContent{
    width: 60%;
    float: left;
}

/*NAVIGATION / MENU*/

#navigation{
    border-radius: 5px;
}

/*FOOTER*/

#footer{
    margin-top: 0;
    border-radius: 0px 0px 5px 5px;
    background: #F8F8F8;
    margin-bottom: 20px;
}

#footer ul{
    text-align: center;
    margin: 0;
}

#footer ul li{
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color: #777;
}